h1 {
  font-family: "Passion One", cursive;
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-family: "Passion One", cursive;
  font-family: "Roboto", sans-serif;
}
