h1 {
  font-family: "Passion One", cursive;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 30px;
}
p {
  font-family: "Noto Sans Ethiopic", sans-serif;
  font-family: "Passion One", cursive;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
  /* max-width: 800px;
  margin: 0 auto;*/
}
